* {
  padding: 0;
  margin: 0;
  border: 0;
  list-style: none;
}
::-webkit-scrollbar {
  display: none;
}
*,
html {
  scrollbar-width: none;
}
.navigation {
  width: 100vw;
  height: 80px;
}

.nav {
  width: 100vw;
  height: 80px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-between;
}
.menuitem {
  margin: 10px;
  text-transform: capitalize;
  color: rgb(0, 0, 0);
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
}
.menu {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
}
.menu::before {
  backdrop-filter: blur(50px);
  z-index: -1;
}
.menuOpen {
  display: none;
  margin: 5px;
  position: absolute;
  top: 0px;
  right: 0px;
  cursor: pointer;
}
.menuClose {
  display: none;
  margin: 8px;
  position: absolute;
  top: 0px;
  right: 0px;
  cursor: pointer;
}

@media (max-width: 800px) {
  .navigation {
    height: 35px;
    width: 100vw;
  }
  .nav {
    display: none;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100vw;
    height: 100vw;
    background-color: transparent;
  }
  .menuitem {
    font-size: 25px;
  }
  .menuOpen {
    display: block;
  }
  .menu {
    flex-direction: column;
  }
}
